* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  padding: 19px 0;
  z-index: 5;
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.navbar__item + .navbar__item {
  margin-left: 24px;
}

.navbar__list {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.navbar__link {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.navbar__link:hover {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.header__navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.header__sign-in-link {
  width: 103px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  transition: all 0.4s ease;
  padding: 10px 23px;
  margin-left: 24px;
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__sign-in-link:hover {
  color: #fff;
  background-color: #02897A;
}

.header__sign-up-link {
  width: 112px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #02897A;
  transition: all 0.4s ease;
  padding: 10px 23px 9px 25px;
  margin-left: 24px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__sign-up-link:hover {
  border: 1px solid #BCD0E5;
  color: #173A56;
  background-color: #fff;
}

.header__navbar-wrap > img {
  margin-left: 24px;
}

.burger__img {
  display: none;
}

.header__hamburger-btn {
  background-color: transparent;
  border: none;
  display: none;
}

@media (max-width: 915px) {
  .site-header {
    padding: 17px 0;
  }
  .navbar__link {
    display: none;
  }
  .header__sign-in-link {
    display: none;
  }
  .header__sign-up-link {
    display: none;
  }
  .header__navbar-wrap > img {
    display: none;
  }
  .header__hamburger-btn {
    display: block;
  }
}
@media (max-width: 650px) {
  .site-header {
    padding: 17px 0 16px 12px;
  }
  .header__img {
    width: 170px;
    height: 36px;
  }
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 114px;
  padding-top: 115px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.hero__content {
  max-width: 458px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 18px;
  color: #22343D;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.hero__text {
  margin-bottom: 45px;
  color: #22343D;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.video__wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.hero__picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
}

.hero__link {
  margin-right: 30px;
  width: 175px;
  padding: 15px 39px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #02897A;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.hero__link:hover {
  color: #02897A;
  background-color: transparent;
  border-color: #02897A;
}

.hero__video-link {
  color: #02897A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

@media (max-width: 999px) {
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .hero {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column-reverse;
  }
  .hero__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero__title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
  }
  .hero__text {
    width: 100%;
    text-align: center;
  }
  .video__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .hero__picture {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
  }
  .hero__link {
    padding: 15px 30px;
  }
}
@media (max-width: 500px) {
  .hero__title {
    width: 374px;
    width: 100%;
    text-align: center;
  }
  .video__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero__link {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .hero__picture {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
  }
}
.product-section {
  margin-bottom: 169px;
  background-image: url("../images/product/Bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}

.product {
  text-align: center;
  padding-bottom: 90px;
}

.product__content {
  max-width: 534px;
  text-align: center;
  margin: 0 auto;
}

.product__title {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 58px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;
}

.product__list {
  margin-bottom: 60px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}

.product__list-item {
  max-width: 240px;
  text-align: left;
}

.product__list-wrap {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.product__list-wrap {
  max-width: 240px;
}

.product__list-strong {
  margin-bottom: 13px;
  color: #22343D;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.product__list-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.product__link {
  width: 175px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 32px;
  border-radius: 4px;
  background: #02897A;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.product__link:hover {
  color: #02897A;
  background-color: transparent;
  border-color: #02897A;
}

@media (max-width: 967px) {
  .product-section {
    margin-bottom: 169px;
    background-image: url("../images/product/Bg-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
  }
  .product {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product__list-wrap {
    width: 100%;
  }
  .product__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .product__list-item {
    margin-bottom: 37px;
    width: 100%;
    text-align: center;
  }
  .product__link {
    padding: 15px 29px;
  }
  .product__list-strong {
    width: 100%;
  }
  .product__list-text {
    width: 100%;
  }
}
.management-section {
  margin-bottom: 150px;
}

.management {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.management__content {
  margin-right: 84px;
}

.management__text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.management__title {
  margin-bottom: 131px;
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.management__wrap {
  margin-bottom: 25px;
  width: 486px;
}

.management__strong {
  display: inline-block;
  margin-bottom: 12px;
}

.management__inner-wrap {
  width: 486px;
}

@media (max-width: 970px) {
  .management {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
  }
  picture {
    margin-bottom: 50px;
  }
  .management__content {
    margin-right: 0;
  }
  .management__title {
    margin-bottom: 16px;
    width: 100%;
  }
  .management__wrap, .management__bottom-text {
    width: 100%;
  }
  .management__inner-wrap {
    width: 100%;
  }
}
.customer-section {
  margin-bottom: 168px;
}

.customer__picture {
  margin-right: 94px;
}

.customer {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.customer__content {
  width: 486px;
}

.customer__text {
  margin-bottom: 8px;
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.customer__title {
  margin-bottom: 23px;
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customer__inner-text {
  margin-bottom: 30px;
}

.customer__item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.customer__item--margin {
  margin-bottom: 0;
}

.customer__item-img {
  margin-right: 30px;
}

@media (max-width: 970px) {
  .customer {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
  .customer__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .customer__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 0;
    width: 100%;
  }
  .customer__title {
    margin-bottom: 20px;
  }
  .customer__inner-text {
    margin-bottom: 20px;
  }
  .customer__item {
    margin-bottom: 20px;
  }
}
@media (max-width: 530px) {
  .customer__title {
    margin-bottom: 15px;
  }
  .customer__text {
    margin-bottom: 3px;
  }
  .customer__inner-text {
    margin-bottom: 15px;
  }
  .customer__item {
    margin-bottom: 16px;
  }
}
.collaborative-section {
  margin-bottom: 167px;
}

.collaborative {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.collaborative__content {
  width: 486px;
  margin-right: 84px;
}

.collaborative__text {
  display: inline-block;
  margin-bottom: 8px;
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.collaborative__title {
  margin-bottom: 23px;
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.collabrative__bottom-text {
  margin-bottom: 30px;
}

.collaborative__strong {
  display: inline-block;
  margin-bottom: 12px;
}

.makers__text {
  margin-bottom: 25px;
}

.makers__text--margin {
  margin-bottom: 0;
}

@media (max-width: 950px) {
  .collaborative {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column-reverse;
  }
  .collaborative__content {
    width: 100%;
  }
  picture {
    margin-bottom: 50px;
  }
  .collaborative-section {
    margin-bottom: 80px;
  }
}
.easy-section {
  margin-bottom: 150px;
  background-image: url("../images/easy/easy-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.easy {
  padding-top: 52px;
  text-align: center;
}

.easy__content {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 542px;
  text-align: center;
}

.easy__title {
  margin-bottom: 16px;
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.easy__text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.easy__main-folder {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.easy__main-wrap {
  margin-right: 191px;
}

.easy__top-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.easy__top-img {
  margin-right: 16px;
}

.easy__top-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding: 15px 24px;
  border-radius: 26.5px;
  background: #FFF;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}
.easy__top-text::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 39px;
  left: 29px;
  background-color: #fff;
  border-radius: 50%;
}

.easy__left-bottom-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.easy__left-bottom-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 16px;
  position: relative;
  padding: 15px 24px;
  border-radius: 26.5px;
  background: #FFF;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}
.easy__left-bottom-text::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 39px;
  left: 29px;
  background-color: #fff;
  border-radius: 50%;
}

.easy__right-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.easy__right-text {
  margin-right: 16px;
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding: 15px 24px;
  border-radius: 26.5px;
  background: #FFF;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}
.easy__right-text::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 45px;
  right: 41px;
  background-color: #fff;
  border-radius: 50%;
}

.easy__right-bottom-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.easy__right-bottom-img {
  margin-right: 16px;
}

.easy__right-bottom-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding: 15px 24px;
  border-radius: 26.5px;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}
.easy__right-bottom-text::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 46px;
  right: 41px;
  background-color: #fff;
  border-radius: 50%;
}

.easy__link {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 31px 14px 30px;
  background-color: #02897A;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.easy__link:hover {
  background-color: #FFF;
  border-color: #02897A;
  color: #02897A;
}

@media (max-width: 900px) {
  .easy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .easy__content {
    width: 100%;
  }
  .easy__main-folder {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  .easy__main-wrap {
    margin-right: 0;
  }
  .easy__main-wrap {
    width: 100%;
  }
}
.strategies-section {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.strategies {
  text-align: center;
}

.strategies__content {
  margin-bottom: 33px;
}

.strategies__title {
  margin-bottom: 8px;
  color: #22343D;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.strategies__text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.strategies__list {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.strategies__item {
  margin-left: 32px;
}

.strategies__item {
  margin-bottom: 63px;
  width: 349px;
  border-radius: 8px;
  border: 1px solid #DEDEDE;
  transition: all 0.3s ease;
}

.strategies__item:hover > .strategies__wrap > .strategies__inner-title {
  color: #02897A;
}

.strategies__img {
  margin-bottom: 8px;
}

.strategies__wrap {
  width: 294px;
  margin-left: 24px;
  padding-bottom: 40px;
}

.strategies__item-text {
  margin-bottom: 12px;
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.strategies__item-text > span {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.strategies__inner-title {
  color: #22343D;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

@media (max-width: 950px) {
  .strategies__list {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
  .strategies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .strategies__text {
    margin-bottom: 40px;
  }
}
.price-section {
  margin-bottom: 150px;
}

.price__content {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.price__title {
  margin-bottom: 8px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  color: #22343D;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price__text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price__list {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.price__item + .price__item {
  margin-left: 71px;
}

.price__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 322px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s linear;
}
.price__item:hover {
  background-color: #02897A;
}
.price__item:hover > .price__item-title {
  color: #FFF;
}
.price__item:hover > .price__item-text {
  color: #FFF;
}
.price__item:hover > .price__main-wrap > .price__item-strong {
  color: #FFF;
}
.price__item:hover > .price__main-wrap > .price__wrap > .price__dollar {
  color: #FFF;
}
.price__item:hover > .price__inner-list > .inner__item {
  color: #fff;
}
.price__item:hover > .price__link {
  background-color: #fff;
  color: #02897A;
}

.price__item-title {
  padding-top: 24px;
  margin-bottom: 8px;
  color: #22343D;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.price__item-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.price__main-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.price__item-strong {
  margin-right: 8px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  letter-spacing: 0.2px;
  color: #02897A;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}

.price__wrap {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.price__dollar {
  color: #02897A;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.price__month {
  letter-spacing: 0.1px;
  color: #AFAFAF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.price__inner-list {
  text-align: center;
  margin-bottom: 22px;
}

.inner__item {
  margin-bottom: 16px;
}

.price__link {
  margin-bottom: 32px;
  padding: 11px 19px;
  background-color: #02897A;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 950px) {
  .price__list {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
  .price__item {
    margin-bottom: 32px;
    margin-left: 0;
  }
  .price__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */