

.product-section{
    margin-bottom: 169px;
    background-image: url("../images/product/Bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}
.product{
    text-align: center;
    padding-bottom:  90px;
}
.product__content{
    max-width: 534px;
    text-align: center;
    // width: 535px;
    margin: 0 auto;
}
.product__title{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 58px;
    @include display($justify:center);
    @include textStyle($fs:32px, $fw:700px, $lh:normal);
}
.product__list{
    margin-bottom: 60px;
    @include display($justify:space-between, $align:start);
}

.product__list-item{
    max-width: 240px;
    text-align: left;
}
.product__list-wrap{
    // @include display($direction:column, $align:start);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    
}


.product__list-wrap{
    max-width: 240px;
}
.product__list-strong{
    margin-bottom: 13px;
    @include textStyle($fs:22px, $fw:600, $lh:normal);
}
.product__list-text{
    @include textStyle($fs:16px, $fw:400, $lh:26px);
    @include display($align:start, $justify:start);
}
.product__link{
    width: 175px;
    @include textStyle($color:#fff,$fs:16px, $fw:700, $lh:normal);
    padding: 15px 32px;
    border-radius: 4px;
    background: #02897A;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    
    &:hover{
        color:#02897A;
        background-color: transparent ;
        border-color: #02897A;
    }
}



@media (max-width:967px){
    .product-section{
        margin-bottom: 169px;
        background-image: url("../images/product/Bg-mobile.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center bottom;
    }
    .product{
        display: flex;
        flex-direction: column;
        @include display($direction:column, $align:center, $justify:center);
    }
    .product__list-wrap{
        width: 100%;
    }
    .product__list{
        @include display($direction:column, $align:center, $justify:center);
        width: 100%;
    }
    .product__list-item{
        margin-bottom: 37px;
        width: 100%;
        text-align: center;
    }
    .product__link{
        padding: 15px 29px;
    }
    .product__list-strong{
        width: 100%;
    }
    .product__list-text{
        width: 100%;
    }
}


// @media (max-width:600px){

// }